[run]
source = zope.component
omit =
    src/zope/component/standalonetests.py
    # Runs in a subprocess

[report]
exclude_lines =
    pragma: no cover
    pragma NO COVER
    if __name__ == '__main__':
    raise NotImplementedError
    self.fail
