[run]
source = zope.component
omit =
    # Runs in a subprocess
    src/zope/component/standalonetests.py
    # Not used
    src/zope/component/hookable.py
    src/zope/component/eventtesting.py

[report]
exclude_lines =
    pragma: no cover
    pragma NO COVER
    if __name__ == '__main__':
    raise NotImplementedError
    self.fail
